@import "vars";

:root {
  --theme: #71c391;
  --white: #ffffff;
}

@font-face {
  font-family: GothamBold;
  src: url(assets/fonts/GothamHTF-Bold.otf);
}

@font-face {
  font-family: Gotham;
  src: url(assets/fonts/GothamHTF-Medium.otf);
}

/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Gotham, Arial, Helvetica, sans-serif;

  * {
    box-sizing: border-box;
  }
}

body {
  background: black;
  height: 100%;
  width: 100%;
}

svg {
  .theme {
    fill: var(--theme);
  }
  .white {
    fill: var(--white);
  }
}
