$pin-fill: #761d1d;

// hard-coded for the sake of the 
$full-height: 1080px;
$full-width: 1920px;

$image-margin: 30px;

#outer {
  display: flex;
  width: $full-width;
  height: $full-height;
  margin: auto;
  align-items: center;
  justify-content: center;
}

#inner {
  height: $full-height;
  width: $full-width;
  position: relative;

  #bkgrnd {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('/assets/map.png');
    background-position: center;
    background-size: cover;
    transform: scale(1);
  }

  #place-pin-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    #place-pin-instructions {
      color: #bfdecb;
      font-size: 5rem;
      text-align: center;
      text-transform: uppercase;
    }
    
  }
  #authorized-toolbar {

      right: 0;
      position: absolute;
      bottom: 0;
      height: 96px;
      
      img {
        height: 100%;
      }
    
  }

  #svg-container {
    position: absolute;
    width: 100%;
    height: 100%;
    &.muted {
      opacity: 0.5;
    }

    .map-pin {
      overflow: visible;
      path {
        fill: var(--theme);
        transform: translate(-50%, -100%);
        &:hover {
          stroke: #eee;
          stroke-width: 1px;
        }
      }
    }
  }
}
