$pin-fill: #761d1d;
$full-height: 1080px;
$full-width: 1920px;
$image-margin: 20px;

#outer {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

#inner {
  background-image: url('/assets/map.jpg');
  background-size: cover;
  height: calc(#{$full-height} - 2 * #{$image-margin});
  width: calc(#{$full-width} - 2 * #{$image-margin});

  svg {
    width: 100%;
    height: 100%;

    .map-pin {
      transform: translate(-76px, -104px);
    }
    circle {
      fill: $pin-fill;

      &:hover {
        stroke: #eee;
        stroke-width: 2px;
      }
    }
  }
}

#upload {
  position: fixed;
  right: 50px;
  bottom: 50px;

  img {
    height: 100px;
  }
}
